<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THIS IS THE HOME PAGE </title>
</head>
<body>
  <h1> FIGHTER WHO </h1>
  {{!-- <button>a duck</button>
  <button>ghostbusters </button>
  <button>a manbearpig</button>
  <button>an eletric eel</button>
  <button>a zebra in a bad mood</button> --}}
  <div class="container">
    {{#each animals}}
    <div class="animal-list">
      <a href="/lastwords/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
    </div>
    {{/each}}
  </div>

</body>
</html>

